
@media screen and (max-width:500px){
    .botaoSalvar{
        display: flex!important;
        justify-content: center;
    }
    .versao-mobile{
        display: flex!important;
    }    
    .contesimu{
        display: none!important;
    }
    .frstcon{
        display: none;
    }
}
.simulacao-filtro{
    width: 100%;
}
.contesimu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mdlc{
    position: relative;
    top: -20px;
}
.msSp{
    position: relative;
    top: 3px;
}
.msCP{
    position: relative;
    top: -6px;
}
.semespo{
    position: relative;
    top: 12px;
}
.dBo{
    position: relative;
    top: 7px;
}
.data p{
    width: 100%;
    font-size: 13px;
}
.mbva{
    height: 5px!important;
    background-color: #0000ff;
    width: 100%;
}
.msbt{
    border-radius: 20px;
}
.versao-mobile{
    display: none;
}
