
@media screen and (max-width:500px){
    .botaoSalvar{
        display: flex!important;
        justify-content: center;
    }
    .versao-mobile{
        display: flex!important;
    }    
    .contesimu{
        display: none!important;
    }
    .frstcon{
        display: none;
    }
}
#buttonFilter{
    width: 150px;
    text-align: start;
    font-size: 15px;
    align-items: center;
}
#buttonFilter svg{
    position: relative;
    left: 60px;
}
.simulacao-filtro{
    width: 100%;
}
.simulacao-filter{
    padding: 25px!important;
    border-radius: 10px;
}
.contesimu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.versao-mobile{
    display: none;
}
.titleCurso{
    color: gray;
    font-weight: 100;
}
.curso-simulacao{
    display: flex;
    flex-direction: column;
}
.edt{
    font-size: 12px;
}