p{
    margin: 0;
}
.border-none{
    border: none !important;
}
.perfil{
    display: flex;
    justify-content: space-between;
}
.perfil-1{
    width: 60%;
}
.imagem-nome{
    display: flex;
    align-items: center;
}
.circulo-imagem{
    width: 50px;
    height: 50px;
    background-color: #cd3106;
    border-radius: 100%;
    border: 2px solid #a20101;
}
.foto-perfil{
    text-align: center;
    align-items: center;
    position: relative;
    top: 10px;
    font-weight: 600;
    color: white;
}
.usuario{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.nome-usuario{
    display: flex;
    align-items: baseline;
}
.salvo{
    margin-left: 10px;
    font-size: 10px;
    color: gray;
}
.usuario-candidato{
    font-size: 12px;
    color: #7c6161;
    margin-top: 1px;
}
.processos-para-usuario{
    display: flex;
}
.processos-consulta{
    align-items: center;
}
.subtextopadrao{
    font-size: 10px;
    color: gray;
}
.consultorlead{
    border-right: 1px solid #8e8a8a45;
    padding: 10px;
}
.et a{
    color: #7c6161!important;
    margin-right: 9px;
    text-decoration: none;
    font-size: 13px;
}
.etapaoferta a{
    border-bottom:3px solid #006677;
    color: black!important;
    font-weight: 600;
}
.dropsimu{
    background-color: #0090ff;
    font-weight: 600;
    border: none;
    border-radius: 15px!important;
    font-size: 10px;
}
.dropsimu:hover{
    background-color: #0090ff!important;
}
.dropoferta{
    background-color: #616165;
    border: none;
    font-weight: 600;
    border-radius: 15px!important;   
}
.contfil{
    display: flex;
    left: 110px;
    top: 80px;
    width: 60%;
    height: 100%;
}
.simulacao-filter{
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgb(209 199 199 / 47%);
    border-radius: 4px;
    width: 100%;
    height: 230;
    padding: 70px;
}
.psfo{
    padding: 5px!important;
}